@import "tailwindcss";

/* 
dark to lightest
#227B05 (very dark green)
#0A7A28 (dark green)
#007B53 (dark-medium green)
#48BF56 (medium green)
#599452 (medium-light green)
#17EB88 (lightest green)

222EDA (blue)
BAD0F8 (light blue)
A86CCB (purple)

E05A21 (orange)
E32726 (red)

FDDB3C (yellow)
97750B (dark yellow)
*/

@theme {
  --breakpoint-xs: 30rem;
}
